.was-bg-primary {
    background: rgb(2, 0, 36);
    background: linear-gradient(207deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 116, 1) 42%, rgba(0, 212, 255, 1) 100%);
}
.was-bg-secondary {
    background: rgb(2,0,36);
background: linear-gradient(207deg, rgba(2,0,36,1) 0%, rgba(0,0,116,1) 45%, rgba(0,212,255,1) 45%, rgba(0,146,212,1) 100%);
}

.was-btn-outline-primary {
    color: #f2f2f2;
    background-color: transparent;
    margin: 0 10px;
}
#w-logo{
    width: 50px;
}
.w-logo-footer{
    width: 100px;
}
.was-btn-outline-primary:hover {
    color: #fff;
    border-radius: 10px;
    background-color: #007bff;
    border-color: #007bff;
}

.was-img-p {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.was-download-cv {
    background-color: #007bff;
    color: #f2f2f2;
}

.was-download-cv:hover {
    border-color: #007bff;
    color: #007bff;
}

.was-linkedin {
    background-color: #0077b5;
    color: #f2f2f2;
}

.was-linkedin:hover {
    border-color: #0077b5;
    color: #0077b5;
}