body {
    padding: 0px;
    margin: 0px;
    background: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}


#brand {
    width: 70%;
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

#brand,
#menu {
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

#menu {
    width: 30%;
}

#menu a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

/* main content */
.w-row {
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#intro {
    width: 80%;
    height: 100%;
}

#intro h1 {
    font-size: 2.3rem;
    text-transform: capitalize;
}

#img {
    width: 20%;
    margin-right: 20px;
}

#img img {
    height: 230px;
}

#intro p {
    width: 40%;
}

#readmore {
    border: none;
    background-color: black;
    color: white;
    padding: 15px;
}

.w-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    justify-content: center;
}

.w-card {
    width: 100%;
    margin-left: 10px;
}

.w-card-img {
    background-color: #8dc8e8;
    width: 100%;
    border-radius: 25px;
    height: 150px;
}

.w-card p {
    margin: 0px;
    margin-top: 5px;
    background-color: #a3a3a3;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

.w-card p:nth-child(7) {
    width: 80%;
}

/* footer design */
footer {
    width: 96%;
    margin: auto;
    display: flex;
    height: 150px;
    border-top: 5px solid #4d5c63;
    padding-top: 15px;
    padding-bottom: 15px;
}

#blankbox {
    width: 75%;
    background-color: #e8e8e8;
    height: 150px;
}

#sociallink {
    width: 25%;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#sociallink h3 {
    font-weight: lighter;
    margin: 0px;
}

#sociallink h4 {
    margin: 1px;
}